apiVersion: v1
kind: Service
metadata:
  name: fastapi-app
  namespace: fastapi
  labels:
    app: fastapi-app
spec:
  type: NodePort
  selector:
    app: fastapi-app
  ports:
  - name: http
    port: 80
    targetPort: 8000
    nodePort: 30000
